{%- comment -%}
  This is a required section for the Shopify Theme Store.
  It is available when you add "Hero" section on the Theme Editor.

  Theme Store required settings
{%- endcomment -%}
<section class="hero">
  <div class="hero--overlay is-{{ section.settings.text_alignment }}">
    <div class="hero--box">
      <h2 class="hero--heading">{{ section.settings.title }}</h2>
      <p class="hero--content">{{ section.settings.copy }}</p>
      <div class="hero--action">
        <a href="{{ section.settings.cta_url }}" class="hero--button">{{ section.settings.cta_text }}</a>
      </div>
    </div>
  </div>
  <figure class="hero--image">
    <picture>
      <source srcset="{{ section.settings.desktop_image | img_url: '1440x', scale: 2 }}" media="(min-width: 768px)" />
      <img src="{{ section.settings.mobile_image | img_url: '360x', scale: 2 }}" alt="{{ section.settings.title }}" />
    </picture>
  </figure>
</section>

{% schema %}
  {
    "name": "Hero",
    "settings": [
      { "type": "header", "content": "Text" },
      {
        "type": "text",
        "id": "title",
        "label": "Title",
        "default": "Title / Heading"
      },
      {
        "type": "textarea",
        "id": "copy",
        "label": "Copy"
      },
      {
        "type": "select",
        "id": "text_alignment",
        "label": "Text Alignment",
        "default": "center",
        "options": [{
          "group": "value",
          "value": "left",
          "label": "Left"
        },{
          "group": "value",
          "value": "center",
          "label": "Center"
        },{
          "group": "value",
          "value": "right",
          "label": "Right"
        }]
      },
      { "type": "header", "content": "Call to Action" },
      {
        "type": "text",
        "id": "cta_text",
        "label": "CTA Text"
      },
      {
        "type": "url",
        "id": "cta_url",
        "label": "CTA URL"
      },
      { "type": "header", "content": "Background Images" },
      {
        "type": "image_picker",
        "id": "desktop_image",
        "label": "Desktop Image"
      },
      {
        "type": "image_picker",
        "id": "mobile_image",
        "label": "Mobile Image"
      },
      { "type": "header", "content": "Extra" },
      {
        "type": "color",
        "id": "color",
        "label": "Color"
      }
    ],
    "presets": [{
      "name": "Hero",
      "category": "Generic"
    }]
  }
{% endschema %}
