$roboto: 'Roboto', sans-serif;

.hero {
  font-family: $roboto;
  color: $color-white;
  position: relative;
}

.hero--overlay {
  align-items: center;
  display: flex;
  justify-content: center;
  height: 100%;
  padding: rem(40);
  position: absolute;
  text-align: center;
  width: 100%;

  @include tablet-up {
    padding: rem(80) rem(140);
  }

  &.is-left {
    @include tablet-up {
      justify-content: flex-start;
      text-align: left;
    }
  }

  &.is-right {
    @include tablet-up {
      justify-content: flex-end;
      text-align: left;
    }
  }
}

.hero--box {
  max-width: rem(780);

  .hero--overlay:not(.is-center) & {
    max-width: rem(600);
  }
}

.hero--heading {
  font-family: $roboto;
  font-size: rem(36);
  font-weight: 700;
  margin: 0 0 rem(10) 0;

  @include tablet-up {
    font-size: rem(46);
  }
}

.hero--content {
  font-size: rem(18);
  font-weight: 300;
  line-height: 1.6;
  margin: 0 0 rem(30) 0;

  @include tablet-up {
    font-size: rem(24);
  }
}


.hero--button {
  background-color: $color-green;
  border-radius: rem(100);
  color: $color-white;
  display: inline-block;
  font-size: rem(20);
  font-weight: 300;
  padding: rem(17) rem(45);
  
  &:hover {
    background-color: $color-white;
    color: $color-green;
    text-decoration: none;
  }
}

.hero--image {
  img {
    display: block;
    height: auto;
    width: 100%;
  }
}